
@{
    ViewBag.Title = "PersonDetails";
}

<h2>Szczegóły zaginionej osoby</h2>
<hr />
<h3>@ViewBag.person.Firstname @ViewBag.person.Lastname</h3>

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content(ViewBag.person.Image)" style="width: 100%; height:auto" />
    </div>
    <div class="col-md-4" id="detailsTableDiv">
        <table class="table table-striped">
            <tr><th>Imię</th><td>@ViewBag.person.Firstname</td></tr>
            <tr><th>Nazwisko</th><td>@ViewBag.person.Lastname</td></tr>
            <tr><th>Wiek</th><td>@ViewBag.person.Age</td></tr>
            <tr><th>Widziany ostatnio:</th><td>@ViewBag.person.Location</td></tr>
            <tr><th>Opis</th><td>@ViewBag.person.Description</td></tr>
        </table>
    </div>
    <div class="col-md-4" style="display:none" id="editFormDiv">
        <form method="post" action="/MissingPeople/EditPerson">
            <div class="form-horizontal">
                <input id="PersonId" name="PersonId" type="hidden" value="@ViewBag.person.PersonId">
                <div class="form-group">
                    <label class="control-label col-md-3" for="Firstname">Imię</label>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="Firstname" name="Firstname" type="text" value="@ViewBag.person.Firstname">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Firstname" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="Lastname">Nazwisko</label>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="Lastname" name="Lastname" type="text" value="@ViewBag.person.Lastname">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Lastname" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="Age">Wiek</label>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="Age" name="Age" type="text" value="@ViewBag.person.Age">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Age" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="Location">Lokalizacja</label>
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="Location" name="Location" type="text" value="@ViewBag.person.Location">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Location" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3" for="Description">Opis</label>
                    <div class="col-md-9">
                        <textarea class="form-control text-box single-line" id="Description" name="Description" type="text">@ViewBag.person.Description</textarea>
                        <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zapisz edycję" class="btn btn-primary" />
                    </div>
                </div>

            </div>
        </form>
        
    </div>

    @if (ViewBag.LoggedUser != null && ViewBag.LoggedUser.Role == "admin")
    {
    <div class="col-md-4">
        <button id="editBtn" class="btn btn-primary">Edytuj informacje</button>
        <a href="/MissingPeople/deletePerson/@ViewBag.person.PersonId" class="btn btn-danger">Usuń tą osobę</a>
    </div>
    }
</div>

